@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html,body{
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainBox{
    width: 90%;
    margin: auto;
    margin-top: 70px;
display: flex;

}
.wrapWholeToolBar{
    width: 40%;
    background-color: #fff4df;
    padding:20px;  
}
.controlTextImg img{
height: 200px;
}

.controlTextImg h2, .controlTextImg p{
margin: 20px 0px;
width: 90%;

    }

.controlTextImg{
width: 60%;
padding-right: 30px;

}
.controlToolBar{
width: 100%;
background-color: #fff4df;
padding:20px;
display: flex;
}

.controlEachSection{
margin-bottom: 20px;
}
.controlEachSection button{
    padding: 2px 5px;
    /* background: linear-gradient(to right,aqua,rgb(211, 104, 211)); */
    border: none;
    background-color: #ff7b00;
}
.controlEachSection button:hover{
    background-color: #ffa652;
}
.controlEachSection input{
    padding: 2px 5px;
}
.controlEachSection h3{
    margin-bottom: 5px;
    font-size: 15px;

}
.halfToolbarMediaQuery{
    padding: 10px 15px;
}
/* reset button */
.resetAll{
width: 70%;
padding: 5px 10px;
margin: auto;
display: block;
font-weight: bold;
background-color: #ff7b00;
border: none;
margin-bottom: 20px;
}
.resetAll:hover{
background-color: #ffa652;
}
/* ipad pro*/
@media screen and (max-width:1024px){
    .wrapWholeToolBar{
        width: 100%;
        padding:5px;  
    }
    .controlToolBar{
        width: 100%;
        }
     
        .controlTextImg{
            width: 100%;
            
            }
}
/* ipad air*/
@media screen and (max-width:992px){
    .mainBox{
        flex-direction: column;  
        margin-top: 20px; 
         }
         .wrapWholeToolBar{
            width: 100%;
            margin-top: 30px;
        
        }
   #styleHeadingID{
    font-size: 20px;
   } 
   .controlToolBar{
    padding: 20px;


    }
    .halfToolbarMediaQuery{
        padding: 10px 10px 10px 50px;
width: 50%;

    }
    .controlTextImg{
        width: 100%;
        
        }
        .controlToolBar{
        width: 100%;

        }
        /* reset button */
.resetAll{
    width: 50%;
    padding: 8px 10px;
 
    }

    
}
/* iphone */
@media screen and (max-width:600px){
    .mainBox{
   flex-direction: column;  
   margin-top: 20px; 
    }
    .wrapWholeToolBar{
        width: 100%;
        padding:0px;  
        margin-bottom: 20px;
    }
    .controlTextImg img{
        height: 120px;
        }
        
        #styleHeadingID{
            font-size: 15px;
        }
        
            .controlTextImg p{
font-size: 10px;
            }
        
        .controlTextImg{
        width: 100%;
        
        }
        .controlToolBar{
        width: 100%;
    display: flex;
    padding: 0;
    margin-top: 20px;
        }

        .controlToolBar h3{
            font-size: 12px;
        }
        .controlToolBar span{
            font-size: 12px;
        }
        .halfToolbarMediaQuery{
            padding: 10px 10px;

        }
          /* reset button */
.resetAll{
    width: 70%;
    padding: 8px 10px;
 
    }
      

}